@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #a5e6a7, #69bf6d);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#relogio {
    font-size: 4rem;
    color: #69bf6d;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {
    #relogio {
        font-size: 3rem;
        padding: 15px;
    }
}

@media (max-width: 400px) {
    #relogio {
        font-size: 2.5rem;
        padding: 10px;
    }
}
